# This is Git's per-user configuration file.
[user]
	name = sa-inu
	email = uovo.aureo.000@gmail.com
[core]
	excludesfile = /Users/saino/.gitignore
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[diff]
	compactionHeuristic = true
